@import './header-top-bar-common';

.header-top-bar {
    justify-content: center;

    .accessibility-mode {
        position: absolute;
        right: 20px;
        padding: 3px 15px;
        cursor: pointer;
    }

    .accessibility-mode:hover {
        color: #000;
        text-decoration: none;
        background: #fff;
        border-radius: 17px;
    }
}
